#loginlogout
{
	background-color: black;
	border-top:5px black solid;
	
}
#header
{
 

background-color: #387BD6;
width:100%;
position: relative;
color: white;
border: 1px black solid;






}
#container
{
	background-color: rgba(255, 255, 255, 0.9);
	color:black;
	border-top:1px black solid;
	border-left:1px black solid;
	border-right:1px black solid;
	border-bottom:1px black solid;
	margin-top:0;
	padding-top: 0;
	
}
body
{
	background-image:url(../smc.jpg);
	background-repeat:no-repeat;
	background-size:cover;

}
body,
html
{
	min-height:100%;
	margin:0;
	padding:0;
}
